<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="de">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>PHP Kurs Inhouse Schulung mit Qualitätsmanagement für Webdevelopment</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta content="Einen PHP Kurs als Inhouse Schulung mit Qualitätsmanagement für Weiterbildung Programmierer jetzt buchen" name="description">
    <meta content="PHP Kurs, Inhouse Schulung, Qualitätsmanagement, Weiterbildung Programmierer" name="keywords">
    <meta content="Roland Golla" name="author">
    <meta content="Roland Golla" name="publisher">
    <meta content="Roland Golla" name="copyright">
    <META content="PHP Kurs, Inhouse Schulung" name="page-topic">
    <meta http-equiv="cleartype" content="on">

    <meta property="og:site_name" content="PHP Kurs und Weiterbildung Programmierer mit Qualitätsmanagement">
    <meta property="og:title" content="PHP Kurs und Weiterbildung Programmierer mit Qualitätsmanagement">
    <meta property="og:description" content="PHP Kurs, Inhouse Schulung, Qualitätsmanagement, Weiterbildung Programmierer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/frontend/onepage/img/silder/roland-golla-duisburg.jpg') }}"><!-- link to image for socio -->
    <meta property="og:url" content="//www.rolandgolla.de">

    <link rel="alternate" hreflang="de-DE" href="https://www.rolandgolla.de/" />

    <!-- Fonts START -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&subset=all') }}" rel="stylesheet">
    <!-- Fonts END -->

    <!-- Global styles BEGIN -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('theme/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css') }}" rel="stylesheet">
    <!-- Global styles END -->

    <!-- Page level plugin styles BEGIN -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css') }}" rel="stylesheet">
    <!-- Page level plugin styles END -->

    <!-- Theme styles BEGIN -->
    <link href="{{ asset('theme/global/css/components.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/frontend/onepage/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/frontend/onepage/css/style-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/frontend/onepage/css/themes/red.css') }}" rel="stylesheet" id="style-color">
    <link href="{{ asset('theme/frontend/onepage/css/custom.css') }}" rel="stylesheet">

    <!-- Theme styles END -->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
<!-- Header BEGIN -->
<div class="header header-mobi-ext">
    <div class="container">
        <div class="row">
            <!-- Logo BEGIN -->
            <div class="col-md-2 col-sm-2">
                <a class="scroll site-logo" href="http://www.rogoit.de" target="_blank" title="Webdesign Duisburg">ROGOIT WEBDESIGN</a>
            </div>
            <!-- Logo END -->

            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- Navigation BEGIN -->
            <div class="col-md-10 pull-right">
                <ul class="header-navigation">
                    <li class="current"><a href="#slider-block">Start</a></li>
                    <li><a href="#softwarequality">Clean Code</a></li>
                    <li><a href="#portfolio">Referenzen</a></li>
                    <li><a href="#message-block">Teamwork</a></li>
                    <li><a href="#team">Teamgeist</a></li>
                    <li><a href="#testimonials-block">Zitate</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </div>
            <!-- Navigation END -->
        </div>
    </div>
</div>
<!-- Header END -->

<!-- Promo block BEGIN -->
<div class="promo-block" id="slider-block">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-1">
                    <img src="{{ asset('theme/frontend/onepage/img/silder/roland-golla-duisburg.jpg') }}" alt="Roland Golla Webdeveloper Duisburg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption large_text customin customout start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="center"
                         data-voffset="60"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        <div class="promo-like"><i class="fa fa-thumbs-up"></i></div>
                        <div class="promo-like-text">
                            <h2>PHP Kurs als Inhouse Schulung</h2>
                            <p>PHP Training als Weiterbildung Programmierer<br>Programmieren lernen mit Qualitätsmanagement</p>
                        </div>
                    </div>
                    <div class="tp-caption large_bold_white fade"
                         data-x="center"
                         data-y="center"
                         data-voffset="-110"
                         data-speed="300"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">Roland Golla <span>Webdeveloper</span>
                    </div>
                </li>
                <li data-transition="fadefromright" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-2">
                    <img src="{{ asset('theme/frontend/onepage/img/silder/Slide2_bg.jpg') }}" alt="PHP Kurs" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="40"
                         data-x="center"
                         data-hoffset="-150"
                         data-speed="600"
                         data-start="900"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/sailsjs-logo.png') }}" alt="PHP Schulung" title="PHP Schulung" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="150"
                         data-x="center"
                         data-hoffset="100"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/php-logo.png') }}" alt="PHP Training" title="PHP Training" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="200"
                         data-x="center"
                         data-hoffset="100"
                         data-speed="600"
                         data-start="1500"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/mysql-logo.png') }}" alt="PHP lernen" title="PHP lernen" width="250" height="250">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="250"
                         data-x="center"
                         data-hoffset="-100"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/HTML5-logo.png') }}" alt="Kurs PHP" title="Kurs PHP" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="90"
                         data-x="center"
                         data-hoffset="-40"
                         data-speed="1200"
                         data-start="900"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/css3-logo.png') }}" alt="Qualitätsmanagement" title="Qualitätsmanagement" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="270"
                         data-x="center"
                         data-hoffset="20"
                         data-speed="600"
                         data-start="1500"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/jquery-logo.png') }}" alt="Weiterbildung Programmierer" title="Weiterbildung Programmierer" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="270"
                         data-x="center"
                         data-hoffset="-270"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/debian-logo.png') }}" alt="Programmieren lernen" title="Programmieren lernen" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="120"
                         data-x="center"
                         data-hoffset="-270"
                         data-speed="1200"
                         data-start="900"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/laravel-logo.png') }}" alt="Laravel PHP Framework" title="Laravel PHP Framework" width="250" height="250">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="20"
                         data-x="center"
                         data-hoffset="130"
                         data-speed="600"
                         data-start="1500"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/angularjs-logo.png') }}" alt="Angularjs Frontend MVC" title="Angularjs Frontend MVC" width="200" height="200">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="-20"
                         data-x="center"
                         data-hoffset="-230"
                         data-speed="1200"
                         data-start="1500"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/typo3-logo.png') }}" alt="TYPO3 CMS" title="TYPO3 CMS" width="200" height="200">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="-60"
                         data-x="center"
                         data-hoffset="-30"
                         data-speed="600"
                         data-start="900"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/symfony-logo.png') }}" alt="Symfony 2 Framework Duisburg" title="Symfony 2 Framework Duisburg" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="160"
                         data-x="center"
                         data-hoffset="230"
                         data-speed="1200"
                         data-start="1800"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/zf2-logo.png') }}" alt="Zend Framework 2 Duisburg" title="Zend Framework 2 Duisburg" width="150" height="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="-60"
                         data-x="center"
                         data-hoffset="-330"
                         data-speed="600"
                         data-start="1800"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/git-logo.png') }}" alt="Git Deployment" title="Git Deployment" width="250">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="60"
                         data-x="center"
                         data-hoffset="330"
                         data-speed="600"
                         data-start="1800"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/jenkins-logo.png') }}" alt="Jenkins Deployment" title="Jenkins Deployment" width="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="290"
                         data-x="center"
                         data-hoffset="250"
                         data-speed="600"
                         data-start="1500"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/phpunit-logo.png') }}" alt="Phpunit Testing Framework" title="Phpunit Testing Framework" width="150">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="230"
                         data-x="center"
                         data-hoffset="350"
                         data-speed="1200"
                         data-start="1200"
                         data-easing="easeOutBack"><img src="{{ asset('theme/frontend/onepage/img/silder/dalekjs-logo.png') }}" alt="Dalekjs Frontend Testing" title="DalekJS Frontend Testing" width="100">
                    </div>
                    <div class="tp-caption large_bold_white fade"
                         data-x="center"
                         data-y="40"
                         data-speed="300"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">Neue <span>Webtechniken</span>
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-3">
                    <div class="tp-caption tp-fade fadeout fullscreenvideo"
                         data-x="0"
                         data-y="0"
                         data-speed="1000"
                         data-start="1100"
                         data-easing="Power4.easeOut"
                         data-endspeed="1500"
                         data-endeasing="Power4.easeIn"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="false"
                         data-nextslideatend="true"
                         data-forceCover="1"
                         data-dottedoverlay="twoxtwo"
                         data-aspectratio="16:9"
                         data-forcerewind="on"
                         style="z-index: 2">
                        <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%">
                            <source src='{{ asset("theme/forest_edit.mp4") }}' type='video/mp4'>
                            <source src='{{ asset("theme/forest_edit.webm") }}' type='video/webm'>
                            <source src='{{ asset("theme/forest_edit.ogv") }}' type='video/ogg'>
                        </video>
                    </div>
                    <div class="tp-caption large_bold_white_25 customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="170"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="600"
                         data-start="1400"
                         data-easing="Power4.easeOut"
                         data-endspeed="600"
                         data-endeasing="Power0.easeIn"
                         style="z-index: 3">Any fool can write code<br/>that a computer can understand.<br>Good programmers write code<br/>that humans can understand.
                    </div>
                    <div class="tp-caption medium_text_shadow customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="0"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="600"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="600"
                         data-endeasing="Power0.easeIn"
                         style="z-index: 4">Martin Fowler, 2008.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Promo block END -->

<!-- Services block BEGIN -->
<div class="services-block content content-center" id="softwarequality">
    <div class="container">
        <h2>PHP Kurs als Inhouse Training</h2>
        <h4>Es gibt nur eins, was auf Dauer teurer ist als Bildung, keine Bildung.<strong><a
                        href="http://zitate.woxikon.de/autoren/john-f-kennedy" target="_blank" title="PHP Kurs als Inhouse Training">John F. Kennedy</a></strong></h4>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-book"></i>
                <h3>Clean Code</h3>
                <p><strong>Hohe Lesbarkeit</strong> und ein sehr <strong>guter Codestandard</strong> bei regelmäßigem <strong>Code Refactoring</strong> zeichnen <strong>Clean Code</strong> aus.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-gavel"></i>
                <h3>Hohe Testabdeckung</h3>
                <p>Einsatz von <a href="http://codeception.com/" target="_blank" title="Codeception Testing Framework für PHP Anwendungen">Codeception</a> als Frontend Testing Framework</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-binoculars"></i>
                <h3>Code Reviews</h3>
                <p>Wenn Teams gemeinsam an <strong>Software</strong> arbeiten und regelmäßig <strong>Code Reviews</strong> machen, steigert das die <strong>Motivation</strong>, das <strong>Wissen</strong> und die gesamte <strong>Qualität</strong> der Arbeit.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-check-circle-o"></i>
                <h3>Aktuelle Software-Versionen</h3>
                <p>Sehr <strong>gute und zuverlässige Software</strong>, mit der Geschäftsmodelle langfristig und erfolgreich am Markt sind.</p>
            </div>
        </div>
    </div>
</div>
<!-- Services block END -->

<!-- Checkout block BEGIN -->
<div class="checkout-block content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Entwicklungshilfe<em>Schulung für effektives Webdevelopment</em></h2>
            </div>
            <div class="col-md-2 text-right">
                <a href="http://www.entwicklungshilfe.nrw" target="_blank" class="btn btn-primary">Php Schulung</a>
            </div>
        </div>
    </div>
</div>
<!-- Checkout block END -->

<!-- Facts block BEGIN -->
<div class="facts-block content content-center" id="facts-block">
    <h2>Einige Fakten zu mir</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>70+</strong>
                    Internet Projekte
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>10+</strong>
                    Jahre Projekterfahrung
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>4+</strong>
                    Jahre Lead Developer
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>200+</strong>
                    Webdevelopment Blog Beiträge
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts block END -->

<!-- Portfolio block BEGIN -->
<div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
        <h2 class="margin-bottom-50">Referenzen <strong>Webdeveloper</strong></h2>
    </div>
    <div class="row">
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/lead-developer-clean-coder-reuter.jpg') }}" alt="Lead Developer Clean Coder Reuter" class="img-responsive">
            <a href="http://www.reuter.de" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Reuter Online Shop</strong>
                    <em>Backend Developer</em>
                    <b>Software Qualität und Performance</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-cms-gamigo.jpg') }}" alt="Zend Framework 2 Senior Web Developer" class="img-responsive">
            <a href="http://www.gamigo.com/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>gamigo AG</strong>
                    <em>Lead Developer und Clean Coder</em>
                    <b>ZF2 Landingpage Tool</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-landingpage-developer.jpg') }}" alt="TYPO3 und CMS Senior Web Developer" class="img-responsive">
            <a href="http://www.war2glory.com/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>War 2 Glory</strong>
                    <em>CMS Developer</em>
                    <b>TYPO3 und PHP Fremeworks</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-developer.jpg') }}" alt="TYPO3 Developer Sportstadt Düsseldorf" class="img-responsive">
            <a href="http://www.sportstadt-duesseldorf.de/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Sportstadt Düsseldorf</strong>
                    <em>Webmaster</em>
                    <b>TYPO3 Full Service</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-developer-duesseldorf.jpg') }}" alt="TYPO3 Developer Düsseldorf Tourismus" class="img-responsive">
            <a href="http://www.duesseldorf-tourismus.de/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Düsseldorf Tourismus</strong>
                    <em>Webmaster</em>
                    <b>TYPO3 Full Service</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/landingpage-tool-flirtheute.jpg') }}" alt="ZF2 Landingpage Tool" class="img-responsive">
            <a href="http://www.rogoit.de/produkte/landingpage-tool.html" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Landingpage Tool</strong>
                    <em>Projektmanager und Clean Code</em>
                    <b>Zend Framework 2 CMS</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-Elisabeth-Jeggle-CDU.jpg') }}" alt="TYPO3 Full Service für Elisabeth Jeggle CDU" class="img-responsive">
            <a href="http://www.elisabeth-jeggle-cdu.de" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Elisabth Jeggle CDU</strong>
                    <em>Projektmanager</em>
                    <b>TYPO3 Full Service Webdesign</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/dsv98-typo3-developer.jpg') }}" alt="TYPO3 Full Service für Elisabeth Jeggle CDU" class="img-responsive">
            <a href="http://www.dsv98.de" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Duisburger Schwimmverein 1898</strong>
                    <em>Projektmanager und Clean Code</em>
                    <b>TYPO3 Full Service Webdesign</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/koester-duisburg-typo3-full-service.jpg') }}" alt="Köster Duisburg TYPO3 Full Service" class="img-responsive">
            <a href="http://www.koesterduisburg.de" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Köster Duisburg</strong>
                    <em>Projektmanager</em>
                    <b>TYPO3 Full Service Webdesign</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/freelancer-design-hamburg-nadine-bessler.jpg') }}" alt="Freelancer Design Nadine Bessler" class="img-responsive">
            <a href="http://www.nadinebessler.de" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Nadine Bessler</strong>
                    <em>Webdevelopment Outsourcing</em>
                    <b>TYPO3 Full Service Webdesign</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-newsletter-cdu-duesseldorf.jpg') }}" alt="TYPO3 Newsletter CDU Düsseldorf" class="img-responsive">
            <a href="http://www.cduduesseldorf.de/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>CDU Düsseldorf</strong>
                    <em>Projektmanagement</em>
                    <b>TYPO3 Full Service Webdesign</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{ asset('theme/frontend/onepage/img/portfolio/typo3-cms-operationgamma41.jpg') }}" alt="TYPO3 Newsletter CDU Düsseldorf" class="img-responsive">
            <a href="http://www.operationgamma41.de/" target="_blank" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>Operation Gamma 41</strong>
                    <em>Senior Webdeveloper</em>
                    <b>TYPO3 und PHP Developer</b>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Portfolio block END -->

<!-- Message block BEGIN -->
<div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
        <h2>Talent wins games <strong>but teamwork and intelligence wins championships</strong></h2>
        <em>Michael Jordan</em>
    </div>
</div>
<!-- Message block END -->

<!-- Team block BEGIN -->
<div class="team-block content content-center margin-bottom-40" id="team">
    <div class="container">
        <h2>Webdeveloper mit <strong>Team</strong>geist</h2>
        <h4>Sehr <strong>gute und zuverlässige Software</strong> mit der Geschäftsmodelle langfristig und erfolgreich am Markt sind</h4>

        <div class="row">
            <div class="col-md-4 item">
                <img src="{{ asset('theme/frontend/onepage/img/people/roland-golla-senior-webdeveloper-pionier.jpg') }}" alt="Roland Golla Senior Webdeveloper Pionier" title="Roland Golla Senior Webdeveloper Pionier" class="img-responsive">
                <h3>Senior Web Developer</h3>
                <em>Pionier</em>
                <p>Über 50 Projekte aus dem Bereich <strong>CMS</strong> und <strong>eCommerce</strong> eigenständig realisiert. <strong>Individuelle Software</strong> in Form von <strong>Backend-Lösungen</strong> und <strong>Webservices</strong> für unterschiedliche Arten von Abteilungen.</p>
                <div class="tb-socio">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-md-4 item">
                <img src="{{ asset('theme/frontend/onepage/img/people/roland-golla-senior-webdeveloper-bewarer.jpg') }}" alt="Roland Golla Senior Webdeveloper Bewarer" title="Roland Golla Senior Webdeveloper Bewarer" class="img-responsive">
                <h3>Lead Developer</h3>
                <em>Erschaffer</em>
                <p>Gute <strong>Teams leiten</strong> und ausbauen. Die individuellen Persönlichkeiten gezielt fördern und fordern. Sehr gute <strong>Teamfähigkeiten</strong> als <strong>Entwickler</strong> und <strong>Lead Developer</strong>. Sehr gute und zuverlässige <strong>Projektplanung</strong>.</p>
                <div class="tb-socio">
                    <div class="tb-socio">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 item">
                <img src="{{ asset('theme/frontend/onepage/img/people/roland-golla-senior-webdeveloper-evangelist.jpg') }}" alt="Roland Golla Senior Webdeveloper Evangelist" title="Roland Golla Senior Webdeveloper Evangelist" class="img-responsive">
                <h3>Clean Code Developer</h3>
                <em>Code Evangelist Bewarer</em>
                <p><strong>Agile Software-Entwicklung</strong> erfordert eine <strong>hohe Disziplin</strong>. <strong>Sehr gute Tests</strong> und <strong>Refaktorisierung</strong> sind wichtige Bestandteile, damit IT-Projekte erfolgreich sind und <strong>mehr Features als Bugs</strong> produzieren.</p>
                <div class="tb-socio">
                    <div class="tb-socio">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team block END -->

<!-- Prices block BEGIN -->
<div class="prices-block content content-center" id="prices">
    <div class="container">
        <h2 class="margin-bottom-50"><strong>Preis</strong> Übersicht</h2>
        <div class="row">
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3>Webdevelopment</h3>
                        <p>Eingesetzte Webtechniken</p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price">
                            <strong><em>80</em>&euro;</strong>
                            <p>Pro Stunde</p>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i> PHP Frameworks</li>
                            <li><i class="fa fa-circle"></i> TYPO3 CMS</li>
                            <li><i class="fa fa-circle"></i> Wordpress</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default" href="http://www.rogoit.de/kontakt.html" target="_blank">Jetzt buchen</a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3>Projekt Management</h3>
                        <p>Scrum und Kanban</p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price">
                            <strong><em>100</em>&euro;</strong>
                            <p>Pro Stunde</p>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i> Feinkonzept</li>
                            <li><i class="fa fa-circle"></i> Koordination</li>
                            <li><i class="fa fa-circle"></i> Qualitätssicherung</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default" href="http://www.rogoit.de/kontakt.html" target="_blank">Jetzt buchen</a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3>Schulung</h3>
                        <p>Entwicklungshilfe</p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price">
                            <strong><em>125</em>&euro;</strong>
                            <p>Pro Stunde</p>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i> Webdevelopment Tools</li>
                            <li><i class="fa fa-circle"></i> Testing / Deployment</li>
                            <li><i class="fa fa-circle"></i> Cleancode</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default" href="http://www.entwicklungshilfe.nrw/kontakt/" target="_blank">Jetzt buchen</a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
        </div>
    </div>
</div>
<!-- Prices block END -->

<!-- Testimonials block BEGIN -->
<div class="testimonials-block content content-center margin-bottom-65">
    <div class="container">
        <h2>Roland Golla <strong>Zitate</strong></h2>
        <h4>Über 15 Jahre Erfahrung als <strong>Webmaster</strong>, <strong>Senior Webdeveloper</strong> und <strong>Projektmanagment</strong>. Von <strong>One Man Army</strong> bis hin zu großen <strong>Entwicklerteams</strong>.</h4>

        <div class="carousel slide" data-ride="carousel" id="testimonials-block">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="active item">
                    <blockquote><p>Es dauert nicht länger, <strong>sauberen Code</strong> zu schreiben.<br/><br/></p></blockquote>
                    TYPO3, NodeJS, Symfony2, AngularJS <span class="testimonials-name"><a href="http://www.reuter.de" target="_blank">Reuter Online Shop</a></span> seit 2013
                </div>
                <div class="item">
                    <blockquote><p>Nirgends werden tote Pferde so weit geritten, wie in der <strong>Software-Entwicklung</strong>.</p></blockquote>
                    Zend Framework 2, Twitter Bootstrap, jQuery <span class="testimonials-name"><a href="http://www.gamigo.de" target="_blank">Gamigo AG</a></span> in 2013
                </div>
                <div class="item">
                    <blockquote><p>Wer jeden Tag gewinnt, gewinnt auch die Woche.<br><br></p></blockquote>
                    TYPO3, Zend Framework2, Jenkins <span class="testimonials-name"><a href="http://www.twt.de" target="_blank">TWT Interactive</a></span> in 2013
                </div>
                <div class="item">
                    <blockquote><p>Arbeit macht Arbeit. Gute Arbeit macht noch mehr Arbeit. <strong>Exzellente Arbeit schafft Arbeitsplätze</strong>.</p></blockquote>
                    Projekt Manager <span class="testimonials-name"><a href="http://www.rogoit.de" target="_blank">Rogoit</a></span> seit 2003
                </div>
                <div class="item">
                    <blockquote><p>Alles spielt bei professioneller <strong>Software-Entwicklung</strong> eine Rolle.<br><br></p></blockquote>
                    Codeignitor, TYPO3, Costum Frameworks <span class="testimonials-name"><a href="http://www.net-mobile.com" target="_blank">net mobile AG</a></span> seit 2008 bis 2012
                </div>
                <div class="item">
                    <blockquote><p>Es gibt keine technischen Zufälle.<br><br></p></blockquote>
                    TYPO3 <span class="testimonials-name"><a href="http://www.duesseldorf-tourismus.de" target="_blank">Düsseldorf Marketing & Tourismus GmbH</a></span> 2005 bis 2008
                </div>
                <div class="item">
                    <blockquote><p>Es gibt Männer, die sind wie Frauen – und Frauen, die sind wie Männer.</p></blockquote>
                    Persönliches <span class="testimonials-name">Roland Golla Zitat</span>
                </div>
                <div class="item">
                    <blockquote><p>Der Versuch, das <strong>Marketing</strong> mit <strong>Features</strong> ruhigzustellen, ist so, als würde man Feuer mit Benzin löschen.</p></blockquote>
                    Persönliches <span class="testimonials-name">Roland Golla Zitat</span>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-block" data-slide-to="1"></li>
                <li data-target="#testimonials-block" data-slide-to="2"></li>
                <li data-target="#testimonials-block" data-slide-to="3"></li>
                <li data-target="#testimonials-block" data-slide-to="4"></li>
                <li data-target="#testimonials-block" data-slide-to="5"></li>
                <li data-target="#testimonials-block" data-slide-to="6"></li>
                <li data-target="#testimonials-block" data-slide-to="7"></li>
            </ol>
        </div>
    </div>
</div>
<!-- Testimonials block END -->
<div class="partners-block">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/wmdb-logo.png') }}" alt="WMDB Sytems GmbH Logo">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/reuter-logo.png') }}" alt="Reuter Onlineshop Logo">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/gamigo-logo.png') }}" alt="Gamigo">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/netm-logo.png') }}" alt="Net-M AG">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/twt-logo.jpeg') }}" alt="TWT">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="{{ asset('theme/img/dmt-logo.png') }}" alt="DMT">
            </div>
        </div>
    </div>
</div>
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer" id="contact">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Über Roland Golla</h2>
                <p>Roland Golla ist <strong>Senior Web Developer</strong> aus Duisburg und seit einigen Jahren auf den Bereich <strong>Software-Qualität</strong> spezialisiert.</p>
                <p>Als <strong>Lead Developer</strong> sind vor allem praktische Erfahrungen im Bereich der <strong>Teamarbeit</strong> erforderlich. Roland Golla kann sehr gut <strong>Wissen vermitteln</strong> und Teams inspirieren und motivieren. Darüber hinaus ist er ein <strong>sehr guter und zuverlässiger Programmierer.</strong></p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->

            <div class="col-md-4 col-sm-6 pre-footer-col">
                <!-- BEGIN BOTTOM CONTACTS -->
                <h2>Anschrift</h2>
                <address class="margin-bottom-20">
                    Roland Golla<br>
                    Mercatorstr. 106<br>
                    47051 Duisburg<br>
                    Telefon: <a href="tel:+4917624747727">+49 (0)176 24 74 77 27</a><br>
                    Email: <a href="mailto:rolandgolla@gmail.com">rolandgolla[at]gmail.com</a><br>
                </address>
                <!-- END BOTTOM CONTACTS -->

            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6">
                <div class="copyright">Roland Golla Webdeveloper Portfolio</div>
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6 pull-right">
                <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="https://www.facebook.com/rogoit"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="https://twitter.com/rogoit" target="_blank"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="https://plus.google.com/101784794767510250297/posts" target="_blank"></a></li>
                    <li><a class="xing" data-original-title="xing" href="https://www.xing.com/profile/Roland_Golla" target="_blank"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="https://www.linkedin.com/pub/roland-golla/56/129/703" target="_blank"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL ICONS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->

<a href="#slider-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>



<!--[if lt IE 9]>
<script src="{{ asset('theme/global/plugins/respond.min.js') }}"></script>
<![endif]-->

<!-- Load JavaScripts at the bottom, because it will reduce page load time -->
<!-- Core plugins BEGIN (For ALL pages) -->
<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Core plugins END (For ALL pages) -->

<!-- BEGIN RevolutionSlider -->
<script src="{{ asset('theme/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('theme/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('theme/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('theme/frontend/onepage/scripts/revo-ini.js') }}" type="text/javascript"></script>
<!-- END RevolutionSlider -->

<!-- Core plugins BEGIN (required only for current page) -->
<script src="{{ asset('theme/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript"></script><!-- pop up -->
<script src="{{ asset('theme/global/plugins/jquery.easing.js') }}"></script>
<script src="{{ asset('theme/global/plugins/jquery.parallax.js') }}"></script>
<script src="{{ asset('theme/global/plugins/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('theme/frontend/onepage/scripts/jquery.nav.js') }}"></script>
<!-- Core plugins END (required only for current page) -->

<!-- Global js BEGIN -->
<script src="{{ asset('theme/frontend/onepage/scripts/layout.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        Layout.init();
    });
</script>
<!-- Global js END -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3268576-49', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
